* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  width: 500px;
  height: 40px;
  padding: 10px;
  position: relative;
  background: rgb(35, 202, 146);
  margin: 50px auto;
}
#text {
  position: absolute;
  top: 5px;
  left: 0;
  line-height: 30px;
}
